<!DOCTYPE html>
<html class="tw-text-m" lang="zh-Hant">

	<head>
		{{!-- {{>meta bootstrap='true' bootstrap4='true' jquery='true' editor='true' }} --}}
		{{>meta othercolors='true' ncu='true' script='true'}}
	</head>

	<body id="top" {{#if bodyClass}} class="page{{#if bodyFocus}} focus{{/if}}" {{/if}}>
		{{>header logoRightNav='true' logoSrc='img/ncu-logo.svg' banner='true' bannerSrc='img/banner-ncu.jpg'}}

		{{>pageContent userOn='true' idname='true' id='12345' name='陳大天' h2linkBack='true' h2linkBackHref='#' h2linkBackTxt='回上頁' content='sppform' errorOn='true' error='驗證提示語' loginToHref='#' pageTitle='讀者權益聲明書簽署'}}

		{{>footer textCenter='true' name='國立中央大學圖書館'}}
		{{#if jqueryBody}}
			<!-- jq:js -->
			<script src="js/jquery.min.js"></script>
			<!-- endinject -->
		{{/if}}
		{{#if bootstrapBody}}
			<!-- bs:js -->
			<script src="js/bootstrap.min.js"></script>
			<!-- endinject -->
		{{/if}}
	</body>

</html>