<!DOCTYPE html>
<html class="tw-text-m" lang="zh-Hant">

	<head>
		{{!-- {{>meta bootstrap='true' bootstrap4='true' jquery='true' editor='true' }} --}}
		{{>meta nthu='true' script='true'}}
	</head>

	<body id="top" {{#if bodyClass}} class="page{{#if bodyFocus}} focus{{/if}}" {{/if}}>
		{{>header logoRightNav='true' banner='true'}}

		{{>pageContent userOn='true' account='true' user='陳大天' logout='true' linkLogout='index.html' h2linkBack='true' h2linkBackHref='#' h2linkBackTxt='回上頁' content='login' errorOn='true' error='驗證提示語' loginToHref='#' resetPsw='true' pageTitle='使用者登入'}}

		{{>footer textCenter='true' name='國立清華大學圖書館'}}
		{{#if jqueryBody}}
			<!-- jq:js -->
			<script src="js/jquery.min.js"></script>
			<!-- endinject -->
		{{/if}}
		{{#if bootstrapBody}}
			<!-- bs:js -->
			<script src="js/bootstrap.min.js"></script>
			<!-- endinject -->
		{{/if}}
	</body>

</html>