<!-- list -->
<ul class="list_decimal_ch tw-space-y-8 tw-mt-8">
  <li>
    <span class="tw-font-bold tw-text-black">有中大Portal帳號讀者登入說明</span>
    <table class="tw-my-2 uk-table uk-table-small uk-table-striped uk-table-responsive">
      <thead>
        <tr>
          <th class="tw-border tw-border-solid uk-table-shrink uk-text-nowrap">讀者類型</th>
          <th class="tw-border tw-border-solid uk-table-shrink uk-text-nowrap">帳號及密碼</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">讀者類型</span>中大教職員工及學生</td>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">帳號及密碼</span>請使用Portal 帳號及密碼登入</td>
        </tr>
      </tbody>
    </table>
    <p class="tw-m-0">※Portal帳號忘記密碼時，請利用「<a class="color_primary-text" href="#">Portal忘記密碼</a>」功能，或洽詢電算中心Service Desk分機57555、57566。</p>
  </li>
  <li>
    <span class="tw-font-bold tw-text-black">無中大Portal帳號讀者登入說明</span>
    <table class="tw-my-2 uk-table uk-table-small uk-table-striped uk-table-responsive">
      <thead>
        <tr>
          <th class="tw-border tw-border-solid uk-table-shrink uk-text-nowrap">讀者類型</th>
          <th class="tw-border tw-border-solid uk-table-shrink uk-text-nowrap">圖書館帳號規則</th>
          <th class="tw-border tw-border-solid uk-table-shrink uk-text-nowrap">預設密碼</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">讀者類型</span>中大校友借書證</td>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">圖書館帳號規則</span>校友證上的學號</td>
          <td class="tw-border tw-border-solid uk-table-middle" rowspan="3"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">預設密碼</span>身分證字號第1碼及末4碼，加出生月日4碼，如身分證字號為A234567890，而生日為8月18日，則密碼為A78900818。</td>
        </tr>
        <tr>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">讀者類型</span>兼任教師、教職眷屬、退休人員、中大之友、圖書館之友、中大壢中教職、其他讀者類型</td>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">圖書館帳號規則</span>身分證字號(ROC ID number)或居留證號(Alien Resident Certificate)的第1碼及4~9碼，如身分證字號為A234567890，帳號為A456789。</td>
        </tr>
        <tr>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">讀者類型</span>教師長期借閱</td>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">圖書館帳號規則</span>個人Portal 帳號加長期流水號，如個人Portal 帳號為A456789，而長期借閱流水號為◯◯，則長期借閱帳號為A456789◯◯。</td>
        </tr>
        <tr>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">讀者類型</span>訪問學者、訪問學生、語言中心華語生</td>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">圖書館帳號規則</span>無居留證號者，使用本校各單位(如國際處、語言中心)給的編號為帳號，如VT109112001。</td>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">預設密碼</span>本校編號前5碼，加出生月日4碼，如生日為12月31日，則密碼為VT1091231。如未登錄生日者，則統一在編號前5碼後加1234，密碼VT1091234。</td>
        </tr>
        <tr>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">讀者類型</span>館際合作借書證(館合證)</td>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">圖書館帳號規則</span>館合證編號第1~4碼及6~10碼，如編號NCU4567890，則登入帳號為NCU467890。</td>
          <td class="tw-border tw-border-solid"><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1 uk-hidden@m">預設密碼</span>密碼同館合證編號</td>
        </tr>
      </tbody>
    </table>
    <ul class="tw-pl-6 tw-list-decimal">
      <li>您也可以用「忘記密碼」取得新密碼。</li>
      <li>為了維護您個人資料安全，首次登入本系統，請務必立即更改密碼，並妥善保存。</li>
      <li>登入問題請洽總圖借還書櫃台，聯絡電話：(03)4227151分機57417，或寄信至<a class="color_primary-text" href="mailto:cirlib@ncu.edu.tw">cirlib@ncu.edu.tw</a>。</li>
    </ul>
  </li>
</ul>
<!-- /list -->