<!-- list -->
<ul class="list_decimal_ch tw-space-y-8 tw-mt-8">
  <li>
    <span class="tw-font-bold tw-text-black">讀者帳號：</span>
    <ul class="tw-pl-6 tw-list-decimal">
      <li>學生請輸入學號；教職員請輸入員工編號。</li>
      <li>其他讀者請輸入圖書館借書證上的條碼號, "-" 不必輸入。</li>
    </ul>
  </li>
  <li>
    <span class="tw-font-bold tw-text-black">讀者密碼：系統預設密碼如下</span>
    <ul class="tw-pl-6 tw-list-decimal">
      <li>本籍讀者：身分證字號，字母需大寫。</li>
      <li>外籍讀者：
        <ul class="tw-pl-4">
          <li>(1)身份證字號(ROC ID number)或居留證號碼(Alien Resident Certificate)</li>
          <li>(2)「學號末六碼+生日」(例 : 學號為106998776，生日為7月31日，密碼預設為9987760731)</li>
        </ul>
      </li>
      <li>您也可以用「忘記密碼」取得新密碼。</li>
      <li>為了維護您個人資料安全，首次登入本系統，請務必立即更改密碼，並請妥慎保管。</li>
    </ul>
  </li>
  <li><span class="tw-font-bold tw-text-black">登入問題請洽總圖借還書櫃台，校內分機42997或電話(03)574-2997。Email:<a class="color_primary-text tw-ml-2" href="mailto:cir@my.nthu.edu.tw">cir@my.nthu.edu.tw</a></span></li>
</ul>
<!-- /list -->