{{!-- {{>login formTitleOn=='true' formTitle='' stack='true' stackClass='uk-width-1-2@s' errorOn='true' error='驗證提示語' note='true' noteText='密碼規則說明' loginToHref='#' forgetPsw='true' cancel='true' register='true' contact='true'}} --}}
<p>
  各位新讀者，歡迎您 :<br>
為讓您充分了解本館入館閱覽與借閱館藏資料規定，並確認您個人聯絡資料的正確性，以確保您成功收到本館發出的各項通知電子郵件，在您首次使用服務前，請您先簽署「國立清華大學圖書館讀者權益聲明書」，完成後即可開始使用各項服務。本館實施圖書催還制度，<strong class="color_primary-text">如您借出的圖書有人預約，則您的借期將被縮短為14天</strong>；若您是預約者，在預約保留期限內未到館辦理借書，將累計停權罰則。所有借閱通知均會傳送至您的電子郵件信箱，為確保您的權益，請務必詳閱本館規則，並留下有效的電子郵件信箱。
</p>
<a href="nthu-02sppform.html" class="btn_primary tw-w-full uk-button uk-button-primary">開始簽署</a>